/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #EDE8F5;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding-top: 60px; /* Adjust for fixed navbar */
}


/* Container adjustment */
.container {
    max-width: 1000px; /* Set the maximum width */
    margin: 0 auto; /* Center the container */
    padding: 0 20px; /* Add some padding on the sides */
}

/* Header styles */
header {
    background: #7091e6;
    color: #1f212f;
    padding: 20px 30px;
    min-height: 200px;
    border-bottom: #0779e4 3px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Profile section */
.profile {
    display: flex;
    align-items: center;
}

.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.profile-details {
    display: flex;
    flex-direction: column;
}

.profile-details h1 {
    margin: 0;
    font-size: 2em;
}

.profile-details p {
    margin: 5px 0;
}

.contact-info {
    margin-top: 15px;
}


#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #3D52A0;
    color: #fff;
    z-index: 1000;
    text-align: center;
    padding: 10px 0;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar ul li {
    display: inline;
    margin: 0 15px;
}

#navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

html {
    scroll-behavior: smooth;
}

footer {
    background-color: #8697C4;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.dark-mode footer {
    background-color: #555;
}
.animate {
    transition: all 0.5s ease-in-out;
    transform: translateY(0);
    opacity: 1;
}

.animate-on-scroll {
    transform: translateY(100px);
    opacity: 0;
}
